p {
    color: red;
    width: 500px;
    border: 3px solid black;
}
table {
    border-collapse: collapse;
    width: 50%;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
h3 {
    text-align: right;
}